In [1]:
import requests
import json
import pandas as pd

In [2]:
csv_file='Resources/crime_data_w_population_and_crime_rate.csv'
crime_counties_df= pd.read_csv(csv_file)
crime_counties_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,200,1778,3609,4995,13791,3543,464,318416,29,510
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,38,165,662,1482,1753,189,28,49746,5,35
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,2,5,119,82,184,12,2,7629,17,3
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,3,1,2,5,4,4,0,412,48,261
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,4,17,368,149,494,60,0,27083,22,31

In [3]:
crime_counties_df['state']= crime_counties_df['county_name'].str.split(',').str[1]
# crime_counties_df['county_name']= crime_counties_df['county_name'].str.split(',')

crime_counties_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,state
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,1778,3609,4995,13791,3543,464,318416,29,510,MO
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,165,662,1482,1753,189,28,49746,5,35,AR
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,5,119,82,184,12,2,7629,17,3,IL
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,1,2,5,4,4,0,412,48,261,TX
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,17,368,149,494,60,0,27083,22,31,LA

In [4]:
crime_counties_df["FIPS_ST"] = crime_counties_df.FIPS_ST.map("{:02}".format)
crime_counties_df["FIPS_CTY"] = crime_counties_df.FIPS_CTY.map("{:03}".format)

crime_counties_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,state
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,1778,3609,4995,13791,3543,464,318416,29,510,MO
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,165,662,1482,1753,189,28,49746,05,035,AR
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,5,119,82,184,12,2,7629,17,003,IL
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,1,2,5,4,4,0,412,48,261,TX
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,17,368,149,494,60,0,27083,22,031,LA

In [5]:
crime_counties_df["fips"] = crime_counties_df["FIPS_ST"] + crime_counties_df["FIPS_CTY"]

crime_counties_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,state,fips
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,3609,4995,13791,3543,464,318416,29,510,MO,29510
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,662,1482,1753,189,28,49746,05,035,AR,05035
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,119,82,184,12,2,7629,17,003,IL,17003
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,2,5,4,4,0,412,48,261,TX,48261
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,368,149,494,60,0,27083,22,031,LA,22031

In [6]:
crime_counties_df = crime_counties_df[['county_name', 'state', 'crime_rate_per_100000', 
    'index', 'MURDER', 'RAPE', 'ROBBERY', 'AGASSLT', 'BURGLRY', 'LARCENY', 'MVTHEFT', 
    'ARSON', 'population','FIPS_ST', 'FIPS_CTY']]

crime_counties_df

,county_name,state,crime_rate_per_100000,index,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY
0,"St. Louis city, MO",MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416,29,510
1,"Crittenden County, AR",AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746,05,035
2,"Alexander County, IL",IL,1664.700485,3,1,2,5,119,82,184,12,2,7629,17,003
3,"Kenedy County, TX",TX,1456.310680,4,0,3,1,2,5,4,4,0,412,48,261
4,"De Soto Parish, LA",LA,1447.402430,5,3,4,17,368,149,494,60,0,27083,22,031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,"Ohio County, IN",IN,0.000000,3132,0,0,0,0,2,2,0,0,5994,18,115
3132,"Newton County, MS",MS,0.000000,3133,0,0,0,0,4,0,1,0,21689,28,101
3133,"Jerauld County, SD",SD,0.000000,3134,0,0,0,0,1,3,1,0,2066,46,073
3134,"Cimarron County, OK",OK,0.000000,3135,0,0,0,0,1,2,0,0,2335,40,025
3135,"Lawrence County, MS",MS,0.000000,3136,0,0,0,0,0,0,0,0,12514,28,077

In [7]:
crime_counties_df = crime_counties_df.rename(columns ={'index': 'crime_rate_rank', 'MURDER': 'murder', 
'RAPE' : 'rape', 'ROBBERY': 'robbery', 'AGASSLT': 'aggravated_assault', 'BURGLRY': 'burglary', 
'LARCENY': 'larceny', 'MVTHEFT': 'motor_theft', 'ARSON': 'arson'})

crime_counties_df.head()

,county_name,state,crime_rate_per_100000,crime_rate_rank,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_theft,arson,population,FIPS_ST,FIPS_CTY
0,"St. Louis city, MO",MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416,29,510
1,"Crittenden County, AR",AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746,05,035
2,"Alexander County, IL",IL,1664.700485,3,1,2,5,119,82,184,12,2,7629,17,003
3,"Kenedy County, TX",TX,1456.310680,4,0,3,1,2,5,4,4,0,412,48,261
4,"De Soto Parish, LA",LA,1447.402430,5,3,4,17,368,149,494,60,0,27083,22,031

In [8]:
crime_counties_df['total_violent_crime'] = crime_counties_df['murder'] + crime_counties_df['rape'] + crime_counties_df['robbery'] + crime_counties_df['aggravated_assault'] + crime_counties_df['burglary']+ crime_counties_df['larceny'] + crime_counties_df['motor_theft'] + crime_counties_df['arson']

crime_counties_df

,county_name,state,crime_rate_per_100000,crime_rate_rank,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_theft,arson,population,FIPS_ST,FIPS_CTY,total_violent_crime
0,"St. Louis city, MO",MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416,29,510,28499
1,"Crittenden County, AR",AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746,05,035,4325
2,"Alexander County, IL",IL,1664.700485,3,1,2,5,119,82,184,12,2,7629,17,003,407
3,"Kenedy County, TX",TX,1456.310680,4,0,3,1,2,5,4,4,0,412,48,261,19
4,"De Soto Parish, LA",LA,1447.402430,5,3,4,17,368,149,494,60,0,27083,22,031,1095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,"Ohio County, IN",IN,0.000000,3132,0,0,0,0,2,2,0,0,5994,18,115,4
3132,"Newton County, MS",MS,0.000000,3133,0,0,0,0,4,0,1,0,21689,28,101,5
3133,"Jerauld County, SD",SD,0.000000,3134,0,0,0,0,1,3,1,0,2066,46,073,5
3134,"Cimarron County, OK",OK,0.000000,3135,0,0,0,0,1,2,0,0,2335,40,025,3
3135,"Lawrence County, MS",MS,0.000000,3136,0,0,0,0,0,0,0,0,12514,28,077,0

In [9]:
crime_counties_df['county_name']= crime_counties_df['county_name'].str.split(',').str[0]
crime_counties_df['county_name']= crime_counties_df['county_name'].str.replace('County','')

crime_counties_df.head()

,county_name,state,crime_rate_per_100000,crime_rate_rank,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_theft,arson,population,FIPS_ST,FIPS_CTY,total_violent_crime
0,St. Louis city,MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416,29,510,28499
1,Crittenden,AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746,05,035,4325
2,Alexander,IL,1664.700485,3,1,2,5,119,82,184,12,2,7629,17,003,407
3,Kenedy,TX,1456.310680,4,0,3,1,2,5,4,4,0,412,48,261,19
4,De Soto Parish,LA,1447.402430,5,3,4,17,368,149,494,60,0,27083,22,031,1095

In [10]:
crime_counties_df['county_name']= crime_counties_df['county_name'].str.replace('Borough','')
crime_counties_df['county_name']= crime_counties_df['county_name'].str.title()

crime_counties_df

,county_name,state,crime_rate_per_100000,crime_rate_rank,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_theft,arson,population,FIPS_ST,FIPS_CTY,total_violent_crime
0,St. Louis City,MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416,29,510,28499
1,Crittenden,AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746,05,035,4325
2,Alexander,IL,1664.700485,3,1,2,5,119,82,184,12,2,7629,17,003,407
3,Kenedy,TX,1456.310680,4,0,3,1,2,5,4,4,0,412,48,261,19
4,De Soto Parish,LA,1447.402430,5,3,4,17,368,149,494,60,0,27083,22,031,1095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,Ohio,IN,0.000000,3132,0,0,0,0,2,2,0,0,5994,18,115,4
3132,Newton,MS,0.000000,3133,0,0,0,0,4,0,1,0,21689,28,101,5
3133,Jerauld,SD,0.000000,3134,0,0,0,0,1,3,1,0,2066,46,073,5
3134,Cimarron,OK,0.000000,3135,0,0,0,0,1,2,0,0,2335,40,025,3
3135,Lawrence,MS,0.000000,3136,0,0,0,0,0,0,0,0,12514,28,077,0

In [11]:
crime_counties_df = crime_counties_df.rename(columns ={'county_name':'county'})

crime_counties_df

,county,state,crime_rate_per_100000,crime_rate_rank,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_theft,arson,population,FIPS_ST,FIPS_CTY,total_violent_crime
0,St. Louis City,MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416,29,510,28499
1,Crittenden,AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746,05,035,4325
2,Alexander,IL,1664.700485,3,1,2,5,119,82,184,12,2,7629,17,003,407
3,Kenedy,TX,1456.310680,4,0,3,1,2,5,4,4,0,412,48,261,19
4,De Soto Parish,LA,1447.402430,5,3,4,17,368,149,494,60,0,27083,22,031,1095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,Ohio,IN,0.000000,3132,0,0,0,0,2,2,0,0,5994,18,115,4
3132,Newton,MS,0.000000,3133,0,0,0,0,4,0,1,0,21689,28,101,5
3133,Jerauld,SD,0.000000,3134,0,0,0,0,1,3,1,0,2066,46,073,5
3134,Cimarron,OK,0.000000,3135,0,0,0,0,1,2,0,0,2335,40,025,3
3135,Lawrence,MS,0.000000,3136,0,0,0,0,0,0,0,0,12514,28,077,0

In [12]:
crime_counties_df['county']= crime_counties_df['county'].str.replace('Borough','')

crime_counties_df

,county,state,crime_rate_per_100000,crime_rate_rank,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_theft,arson,population,FIPS_ST,FIPS_CTY,total_violent_crime
0,St. Louis City,MO,1791.995377,1,119,200,1778,3609,4995,13791,3543,464,318416,29,510,28499
1,Crittenden,AR,1754.914968,2,8,38,165,662,1482,1753,189,28,49746,05,035,4325
2,Alexander,IL,1664.700485,3,1,2,5,119,82,184,12,2,7629,17,003,407
3,Kenedy,TX,1456.310680,4,0,3,1,2,5,4,4,0,412,48,261,19
4,De Soto Parish,LA,1447.402430,5,3,4,17,368,149,494,60,0,27083,22,031,1095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3131,Ohio,IN,0.000000,3132,0,0,0,0,2,2,0,0,5994,18,115,4
3132,Newton,MS,0.000000,3133,0,0,0,0,4,0,1,0,21689,28,101,5
3133,Jerauld,SD,0.000000,3134,0,0,0,0,1,3,1,0,2066,46,073,5
3134,Cimarron,OK,0.000000,3135,0,0,0,0,1,2,0,0,2335,40,025,3
3135,Lawrence,MS,0.000000,3136,0,0,0,0,0,0,0,0,12514,28,077,0

In [13]:
crime_counties_df.to_csv('complete_crime_counties.csv', index=True)

In [14]:
csv_file='complete_income_counties.csv'
income_counties_df= pd.read_csv(csv_file)
income_counties_df.head()

,Unnamed: 0,household_income_rank,county,state_name,per_capita_income,household_income,family_income,num_of_households,state
0,0,1,Santa Clara,California,56248,124055,124055,640215,CA
1,1,2,Loudoun,Virginia,46565,122238,133550,106997,VA
2,2,3,Falls Church City,Virginia,59088,120000,152857,5020,VA
3,3,4,Fairfax,Virginia,50532,110292,128596,389908,VA
4,4,5,Howard,Maryland,48172,109865,128657,106142,MD

In [15]:
# Get list of counties from US census to cross-reference
crime_counties = crime_counties_df[['county','state']]

# Add new column so specify origin of each row after concat
crime_counties.loc[:,"dataset"] = "crime"

# Get list of counties from brewerys dataset to cross-reference
income_counties = income_counties_df[['county','state']]

# Add new column so specify origin of each row after concat
income_counties.loc[:,"dataset"] = "income"

# Combine two dataframes of counties, drop matching counties/state rows from each when they match, sort by state/county
combined_counties = pd.concat([crime_counties, income_counties])\
                        .drop_duplicates(subset=['county', 'state'], keep='first')\
                        .sort_values(['state','county'])

# Drop rows with null values ()
combined_counties.dropna(inplace=True)

# Filter down to scraped county names that do not match census
counties_to_fix = combined_counties[combined_counties['dataset']=='crime']

# Display mismatched county names
print(counties_to_fix)

                          county state dataset
3004             Aleutians East     AK   crime
1247  Aleutians West Census Area    AK   crime
49        Anchorage Municipality    AK   crime
1000          Bethel Census Area    AK   crime
2274                Bristol Bay     AK   crime
...                          ...   ...     ...
423                  Sweetwater     WY   crime
1621                      Teton     WY   crime
2865                      Uinta     WY   crime
2646                   Washakie     WY   crime
2560                     Weston     WY   crime

[3136 rows x 3 columns]

C:\Users\yaber\AppData\Local\Temp\ipykernel_29848\2082657306.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_counties.loc[:,"dataset"] = "crime"
C:\Users\yaber\AppData\Local\Temp\ipykernel_29848\2082657306.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_counties.loc[:,"dataset"] = "income"

In [16]:
counties_to_fix

                          county state dataset
3004             Aleutians East     AK   crime
1247  Aleutians West Census Area    AK   crime
49        Anchorage Municipality    AK   crime
1000          Bethel Census Area    AK   crime
2274                Bristol Bay     AK   crime
...                          ...   ...     ...
423                  Sweetwater     WY   crime
1621                      Teton     WY   crime
2865                      Uinta     WY   crime
2646                   Washakie     WY   crime
2560                     Weston     WY   crime

[3136 rows x 3 columns]